.meetingCard{

    width: 50%;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 0.9em;

    img{
        width: 100%;
    }


    .address{
        font-size: 0.75em;
    }
    .body{
        text-align: center;
    }
}